@import url('https://fonts.googleapis.com/css?family=Barlow:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Cormorant+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap');

@font-face {
  font-family: "My Custom Font";
  src: url("../includes/fonts/Tryst-Regular.otf") format("opentype");
}

$primary: rgb(103, 103, 103);
$second: #ccc9e2;
$helper: #3c3953;
$grey: #bdbdbd;
$red: #d04545;
$green: #a5ce53; 

$heading-font: 'Barlow', sans-serif;
$main-font: 'Cormorant Garamond', serif;

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: $main-font;
  font-weight: 300;
  font-size: 17px;
  color: $primary;
}

a, a:active, a:focus{
  outline: none; 
}

h1 , h2 , h3 , h4 , h5 , h6 {
  color: $primary;
  font-family: $heading-font;
}

body {
  background: white;
}
